.App {
  text-align: left;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  padding-right: 8px;
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
